body {
	text-align: center;
}

h1 {
	color: #40e0d0;
	font-size: 4em;
	font-weight: bold;
    font-family: 'Amaranth', sans-serif;
    text-shadow: 0px 3px 0px #ea7e5d;

}

h2 {
	line-height: 1.3em;
	font-size: 1.5em;
}
h3 {
	color: #40e0d0;
	font-size: 2em;
}

a {
  /* Typography Declrations */
  font-weight: none;
  text-decoration: none;
  color: #40e0d0;
}

a:hover {
  /* Tyopography Declarations */
  color: #ea7e5d;
}

ol {
  color: #40e0d0;
  text-align: left;
  margin-left: 1em;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  width: auto;
}

li {
  padding-bottom: 1em;
  padding-left: 1.2em;
  color: black;
  font-weight: bold;
  font-family: auto;
  font-size: .8em;
}

#add-button {
   border-radius: 3px;
   background-color: #ef923f;
   display: inline-block;
    font-size: 12pt;
    color: white;
    height: auto;
    line-height: auto;
    margin: 15px auto;
    padding: 10px 15px;
    text-align: center;
    height: auto;
}

.btn {
	border-radius: 5px;
	background-color: #ef923f;
	display: inline-block;
    font-size: 12pt;
    color: white;
    height: auto;
    line-height: auto;
    margin: 15px auto;
    padding: 10px 15px;
    text-align: center;
    width: 300px;
    height: auto;
}


.btn:hover {
  text-decoration: none;
  color: white;
  background-color: #40e0d0;
  border-radius: 5px;
}

/* Header Styles */

.header {
    background-image: url('../images/cooking_BG.gif');
    background-repeat: repeat;
    padding: 5em;
    border-bottom: solid .8em #40e0d0;
}

.header-image {
	margin: 20px;
	float: left;
	width: 100px
}

/* main body styles */

.instruction {
	border: solid .2em;
	border-color: #fce7d0;
	border-radius: 5px;
	background-color: white;
	display: inline-block;
    font-size: 12pt;
    height: auto;
    line-height: 1.5em;
    margin: 15px auto;
    padding: 15px 20px;
    text-align: center;
    width: 500px;
    height: auto;
}

#add-items-box {
	background-color: #40e0d0;
	border: none;
	border-radius: 5px;
	border-color: #ef923f;
	color: black;
    display: inline-block;
    font-size: 12pt;
    height: auto;
    line-height: auto;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
    width: 400px;
}

#list {
  width: 250px;
  margin: 1.2em;
}

.checkbox {
  margin-right: .5em;
  background-color:  #fce7d0;
  border: solid #ef923f;
  color: black;
  padding-left: .6em;
  padding-right: .6em;
}

.cross-out {
  text-decoration: line-through;
  color: #999;
}

#remove-button {
  margin-left: .5em;
  background-color:  #fce7d0;
  border: solid .2em #ef923f;
  color: black;
  padding-left: .7em;
  padding-right: .7em;

}



/* footer styles */
.footer {
  margin-top: 5em;
  padding: 2em;
  height: auto;
  border-top:  solid .8em #40e0d0;
  background-color: #fce7d0;
}
#footer-images{
  display: inline-block;
  border: solid .2em;
  border-color: #ef923f;
  background-color: white;
  border-radius: 100%;
  padding: 1.2em 1.2em 1.2em 1.2em;
  margin: 1em 1em 1em 1em;
  }

 @media screen and (max-width: 500px) {
	h1{
		font-size: 3em;
		} 

	h2 {
		font-size: 1.2em;
		line-height: 1.5em;
	}

	p{
		padding: 0 2em 0 2em;
	}

	ol {
		width: 250px;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 1.2em;
    padding-top: 1em;
	}

  li {
    text-align: auto;
    padding: none;
    margin: none;
  }

	.btn {
		width: 150px;
	}
	#add-items-box {
		padding-top: 1em;
		width: 250px;
	}
	 .instruction {
	 	width: 300px;
	 }
   #footer-images {
    display: none;
   }

}

